* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header: 110px
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.header {
    background-color: rgb(152, 73, 30);
    height: var(--header);
}

.navbar {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
}

.navbar .d_esquerda {
    display: flex;
    justify-content: flex-start;
}

.navbar .d_direita {
    padding-top: 30px;
    font-size: 60px;
    padding-right: 10px;
}

.login {
    padding: 4px;
    margin-right: 15px;
}

.login:hover {
    background-color: rgb(186, 97, 49);
}

.cadastro {
    padding: 4px;
}

.cadastro:hover {
    background-color: rgb(186, 97, 49);
}

.titulo {
    padding-top: 30px;
    padding-left: 15px;
    font-size: 60px;
}

#iconNav {
    padding-top: 4px;
    padding-left: 30px;
    width: 100px;   
}

li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

#separar {
    padding-right: 5px;
}
