* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

:root {
    --header: 110px
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.header {
    background-color: rgb(152, 73, 30);
    height: var(--header);
}

.navbar {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
}

.navbar .d_esquerda {
    display: flex;
    justify-content: flex-start;
}

.navbar .d_direita {
    padding-top: 30px;
    font-size: 60px;
    padding-right: 10px;
}

.login {
    padding: 4px;
    margin-right: 15px;
}

.login:hover {
    background-color: rgb(186, 97, 49);
}

.cadastro {
    padding: 4px;
}

.cadastro:hover {
    background-color: rgb(186, 97, 49);
}

.titulo {
    padding-top: 20px;
    padding-left: 15px;
    font-size: 60px;
}

#iconNav {
    padding-left: 30px;
    padding-bottom: 7px;
    width: 24%;
}

li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

.container a {
    color: black;
    text-decoration: none;
}

#separar {
    padding-right: 5px;
}

.container {
    height: 90vh;
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 25px;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffffea;
    box-shadow: black 8px 8px 8px 0px;
    gap: 10px;
    width: 18%;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 20px;
}

.botao {
    background-color: #212e29;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    pointer-events: auto;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 80%;
}

#chart-container {
    width: 500px;
    height: 500px;
}

#barra {
  width: 600px;
  height: 400px;
}

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body {
    color: var(--new-black);
    background-color: var(--new-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: monospace;
    font-weight: bold;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--secondary-brand-color);
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

#pontuacaoEJogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* espaçamento entre os elementos */
    width: 100%;
    margin-top: 20px;
}

#jogo {
    width: 80%; /* ou um valor fixo como 600px */
    max-width: 800px;
}
#pontuacao {
    width: 80%; /* mesma largura do jogo para alinhar */
    max-width: 800px;
}